<% provide(:title, "The " + @planets.name) %>
    

<%= link_to "Add New Planet", new_planet_path %> 
<br>

<div class="planets">
    <% @planets.each do |planet| %>
        <div class="planets wrap">
            <div class="planets wrap image"><img class="planets wrap image source" src="<%= planet.image_url %>" alt=""></div>
            <div class="planets wrap info">
                <h2>Name: <%= planet.name %></h2>
                <p>Description: <%= planet.description[0..250] %> ...<%= link_to "Read", planet_path(planet.id) %></p>
                <p>Location: <%= planet.location[0..150] %> ...<%= link_to "Read", planet_path(planet.id) %></p>
            </div>
        </div>
    <% end %>
</div>
<br class="clearfix">